In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [5]:
k=pd.read_csv(r"C:\Users\kalyana raghava\Desktop\house_data.csv")
print(k)

   bedrooms  bathrooms  area   price
0         3          2  1800  250000
1         4          3  2200  320000
2         2          1  1500  180000
3         3          2  1900  280000
4         2          1  1300  150000

In [6]:
k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   bedrooms   5 non-null      int64
 1   bathrooms  5 non-null      int64
 2   area       5 non-null      int64
 3   price      5 non-null      int64
dtypes: int64(4)
memory usage: 288.0 bytes

In [9]:
# if there is a null values 
k.isnull()

   bedrooms  bathrooms   area  price
0     False      False  False  False
1     False      False  False  False
2     False      False  False  False
3     False      False  False  False
4     False      False  False  False

In [11]:
k.isnull().sum()

bedrooms     0
bathrooms    0
area         0
price        0
dtype: int64

In [13]:
label_encoder=LabelEncoder()
k['price']=label_encoder.fit_transform(k['price'])

In [14]:
print(k)

   bedrooms  bathrooms  area  price
0         3          2  1800      2
1         4          3  2200      4
2         2          1  1500      1
3         3          2  1900      3
4         2          1  1300      0

In [15]:
#now split the data into two parts
#slected attributes are stored in x
#target attribute are stored iny
#based upon above example  x has bedrooms,bathrooms,area
#and y  has price

In [17]:
x=k.drop('price',axis=1)
print(x)

   bedrooms  bathrooms  area
0         3          2  1800
1         4          3  2200
2         2          1  1500
3         3          2  1900
4         2          1  1300

In [19]:
y=k['price']
print(y)

0    2
1    4
2    1
3    3
4    0
Name: price, dtype: int64

In [ ]:
# now split the data of x into two parts x_train,x_test
#smilarly y also split inti two parts y_train,y_test

In [20]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [21]:
print("x data",x)
print("x_train data",x_train)
print("x_test data",x_test)
print("shape of x",x.shape)
print("shape of x_train",x_train.shape)
print("shape of x_test",x_test.shape)

x data    bedrooms  bathrooms  area
0         3          2  1800
1         4          3  2200
2         2          1  1500
3         3          2  1900
4         2          1  1300
x_train data    bedrooms  bathrooms  area
4         2          1  1300
2         2          1  1500
0         3          2  1800
3         3          2  1900
x_test data    bedrooms  bathrooms  area
1         4          3  2200
shape of x (5, 3)
shape of x_train (4, 3)
shape of x_test (1, 3)

In [22]:
#simliraly y also
print("y data",y)
print("y_train data",y_train)
print("y_test data",y_test)
print("shape of y",y.shape)
print("shape of  y_train",y_train.shape)
print("sahpe of y_test",y_test.shape)

y data 0    2
1    4
2    1
3    3
4    0
Name: price, dtype: int64
y_train data 4    0
2    1
0    2
3    3
Name: price, dtype: int64
y_test data 1    4
Name: price, dtype: int64
shape of y (5,)
shape of  y_train (4,)
sahpe of y_test (1,)

In [25]:
#now create  a model and accurate it
model=LogisticRegression(max_iter=1000)
model.fit(x_train,y_train)

LogisticRegression(max_iter=1000)

In [27]:
y_pred=model.predict(x_test)

In [28]:
mse=accuracy_score(y_test,y_pred)
print("accuracy is ",mse)

accuracy is  0.0