In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
k=pd.read_csv(r"C:\Users\kalyana raghava\Desktop\wine_data.csv")
print(k)

     fixed_acidity  volatile_acidity  citric_acid  residual_sugar  chlorides  \
0         8.119941          0.451753     0.261706       13.454060   0.290278
1        14.457857          1.129612     0.246979       15.933628   0.404662
2        12.051933          1.758597     0.906255        5.009358   0.382479
3        10.585243          1.491227     0.249546       12.497482   0.085411
4         5.716205          1.632466     0.271950       11.434920   0.083132
..             ...               ...          ...             ...        ...
995       5.007403          1.348215     0.865296        8.842141   0.449725
996      14.090449          1.917568     0.157273        6.688024   0.068497
997       5.505005          0.231020     0.309788        7.891446   0.170643
998      14.452611          0.208404     0.290046       10.598812   0.409715
999       8.906064          0.636155     0.871414        3.227347   0.302683

     free_sulfur_dioxide  total_sulfur_dioxide   density        pH  sulphates  \
0              39.969917            133.168821  0.982716  3.580402   1.844440
1              47.870130             42.753409  0.993074  3.530925   1.145649
2              85.600192            175.754967  1.038187  2.643631   1.504838
3              34.660434            126.492085  1.033674  3.883859   0.984887
4              87.095319             39.868738  1.004545  3.352708   1.334062
..                   ...                   ...       ...       ...        ...
995            68.759101            120.150052  0.999121  3.272394   1.743781
996            50.818821            136.737003  0.994666  2.748056   1.815516
997            76.749736            183.199609  1.011873  3.966569   1.904074
998            49.043773             75.667832  1.043591  2.661887   0.915478
999            15.788782            128.086389  0.987314  3.897916   0.590853

       alcohol  quality
0    10.615486        3
1    10.330385        9
2     9.233077        1
3    12.250867        3
4    11.336369        7
..         ...      ...
995  10.516115        3
996  14.486953        4
997  12.890599        4
998   9.800240        7
999  11.948594        8

[1000 rows x 12 columns]

In [5]:
k.shape

(1000, 12)

In [6]:
k.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,8.119941,0.451753,0.261706,13.454060,0.290278,39.969917,133.168821,0.982716,3.580402,1.844440,10.615486,3
1,14.457857,1.129612,0.246979,15.933628,0.404662,47.870130,42.753409,0.993074,3.530925,1.145649,10.330385,9
2,12.051933,1.758597,0.906255,5.009358,0.382479,85.600192,175.754967,1.038187,2.643631,1.504838,9.233077,1
3,10.585243,1.491227,0.249546,12.497482,0.085411,34.660434,126.492085,1.033674,3.883859,0.984887,12.250867,3
4,5.716205,1.632466,0.271950,11.434920,0.083132,87.095319,39.868738,1.004545,3.352708,1.334062,11.336369,7

In [7]:
k.isnull()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False,False,False

In [9]:
k.dtypes

fixed_acidity           float64
volatile_acidity        float64
citric_acid             float64
residual_sugar          float64
chlorides               float64
free_sulfur_dioxide     float64
total_sulfur_dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [10]:
#replace nan with sum
k.isnull().sum()

fixed_acidity           0
volatile_acidity        0
citric_acid             0
residual_sugar          0
chlorides               0
free_sulfur_dioxide     0
total_sulfur_dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [ ]:
#divide the data set into two parts 
#selected attributes  are stored in x
#target attributes are stored in y
#based upon the above example except quality reamining all stored in x
#quality feauture is stored in y

In [11]:
x=k.drop("quality",axis=1)
print(x)

     fixed_acidity  volatile_acidity  citric_acid  residual_sugar  chlorides  \
0         8.119941          0.451753     0.261706       13.454060   0.290278
1        14.457857          1.129612     0.246979       15.933628   0.404662
2        12.051933          1.758597     0.906255        5.009358   0.382479
3        10.585243          1.491227     0.249546       12.497482   0.085411
4         5.716205          1.632466     0.271950       11.434920   0.083132
..             ...               ...          ...             ...        ...
995       5.007403          1.348215     0.865296        8.842141   0.449725
996      14.090449          1.917568     0.157273        6.688024   0.068497
997       5.505005          0.231020     0.309788        7.891446   0.170643
998      14.452611          0.208404     0.290046       10.598812   0.409715
999       8.906064          0.636155     0.871414        3.227347   0.302683

     free_sulfur_dioxide  total_sulfur_dioxide   density        pH  sulphates  \
0              39.969917            133.168821  0.982716  3.580402   1.844440
1              47.870130             42.753409  0.993074  3.530925   1.145649
2              85.600192            175.754967  1.038187  2.643631   1.504838
3              34.660434            126.492085  1.033674  3.883859   0.984887
4              87.095319             39.868738  1.004545  3.352708   1.334062
..                   ...                   ...       ...       ...        ...
995            68.759101            120.150052  0.999121  3.272394   1.743781
996            50.818821            136.737003  0.994666  2.748056   1.815516
997            76.749736            183.199609  1.011873  3.966569   1.904074
998            49.043773             75.667832  1.043591  2.661887   0.915478
999            15.788782            128.086389  0.987314  3.897916   0.590853

       alcohol
0    10.615486
1    10.330385
2     9.233077
3    12.250867
4    11.336369
..         ...
995  10.516115
996  14.486953
997  12.890599
998   9.800240
999  11.948594

[1000 rows x 11 columns]

In [12]:
x.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol
0,8.119941,0.451753,0.261706,13.454060,0.290278,39.969917,133.168821,0.982716,3.580402,1.844440,10.615486
1,14.457857,1.129612,0.246979,15.933628,0.404662,47.870130,42.753409,0.993074,3.530925,1.145649,10.330385
2,12.051933,1.758597,0.906255,5.009358,0.382479,85.600192,175.754967,1.038187,2.643631,1.504838,9.233077
3,10.585243,1.491227,0.249546,12.497482,0.085411,34.660434,126.492085,1.033674,3.883859,0.984887,12.250867
4,5.716205,1.632466,0.271950,11.434920,0.083132,87.095319,39.868738,1.004545,3.352708,1.334062,11.336369

In [14]:
y=k["quality"]
print(y)

0      3
1      9
2      1
3      3
4      7
      ..
995    3
996    4
997    4
998    7
999    8
Name: quality, Length: 1000, dtype: int64

In [15]:
#now split x into two parts x_train,x_test
#smiliarly y also y_train,y_test
#20% of test size and 80% of train data
#random state is used to distribute the data in equally to all attributes

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [17]:
print("x data",x)
print("x_train data",x_train)
print("x_test data",x_test)

x data      fixed_acidity  volatile_acidity  citric_acid  residual_sugar  chlorides  \
0         8.119941          0.451753     0.261706       13.454060   0.290278
1        14.457857          1.129612     0.246979       15.933628   0.404662
2        12.051933          1.758597     0.906255        5.009358   0.382479
3        10.585243          1.491227     0.249546       12.497482   0.085411
4         5.716205          1.632466     0.271950       11.434920   0.083132
..             ...               ...          ...             ...        ...
995       5.007403          1.348215     0.865296        8.842141   0.449725
996      14.090449          1.917568     0.157273        6.688024   0.068497
997       5.505005          0.231020     0.309788        7.891446   0.170643
998      14.452611          0.208404     0.290046       10.598812   0.409715
999       8.906064          0.636155     0.871414        3.227347   0.302683

     free_sulfur_dioxide  total_sulfur_dioxide   density        pH  sulphates  \
0              39.969917            133.168821  0.982716  3.580402   1.844440
1              47.870130             42.753409  0.993074  3.530925   1.145649
2              85.600192            175.754967  1.038187  2.643631   1.504838
3              34.660434            126.492085  1.033674  3.883859   0.984887
4              87.095319             39.868738  1.004545  3.352708   1.334062
..                   ...                   ...       ...       ...        ...
995            68.759101            120.150052  0.999121  3.272394   1.743781
996            50.818821            136.737003  0.994666  2.748056   1.815516
997            76.749736            183.199609  1.011873  3.966569   1.904074
998            49.043773             75.667832  1.043591  2.661887   0.915478
999            15.788782            128.086389  0.987314  3.897916   0.590853

       alcohol
0    10.615486
1    10.330385
2     9.233077
3    12.250867
4    11.336369
..         ...
995  10.516115
996  14.486953
997  12.890599
998   9.800240
999  11.948594

[1000 rows x 11 columns]
x_train data      fixed_acidity  volatile_acidity  citric_acid  residual_sugar  chlorides  \
29        4.510955          1.674939     0.654175       12.645643   0.186633
535      14.392423          0.331584     0.834145        2.593580   0.298116
695      10.716820          0.229527     0.519032        0.602077   0.441158
557       4.316609          0.880954     0.299566        9.756686   0.342743
836      14.063305          0.343382     0.993255       18.651098   0.194908
..             ...               ...          ...             ...        ...
106       8.514212          0.852860     0.857179       14.468956   0.482998
270      12.902973          1.420466     0.104225        5.065448   0.327895
860      12.530804          1.575250     0.866770       16.293420   0.316462
435      11.710660          0.156950     0.389482        7.784609   0.147494
102       7.457916          1.779193     0.157955       18.290973   0.278591

     free_sulfur_dioxide  total_sulfur_dioxide   density        pH  sulphates  \
29             13.008997             29.221468  0.990656  3.709145   0.966001
535            11.326996             57.568159  1.029091  2.985843   0.993539
695            31.636795            150.767809  1.027469  3.408639   1.193633
557            73.856120             20.057828  1.015553  3.390559   1.108558
836            88.772949             79.661163  1.022399  3.254602   1.802034
..                   ...                   ...       ...       ...        ...
106            37.313034            103.675724  0.981973  2.797814   0.460479
270            20.074963             76.501305  1.002450  3.013713   0.757578
860            46.084096             23.662276  0.983873  3.258613   1.728262
435            74.218537            116.807503  1.042772  2.870121   0.733427
102            57.519798             70.652807  1.047132  3.083277   0.783765

       alcohol
29   12.705639
535  10.994884
695  13.666312
557  14.008039
836  12.024674
..         ...
106   9.828401
270  10.689359
860  14.646762
435  10.542324
102  14.869910

[800 rows x 11 columns]
x_test data      fixed_acidity  volatile_acidity  citric_acid  residual_sugar  chlorides  \
521       8.189799          1.875428     0.134435        9.382144   0.292787
737      12.982594          0.469783     0.544482       15.023543   0.180928
740       9.089478          1.672322     0.365681       18.087195   0.362172
660       7.917064          1.241129     0.472282       10.197080   0.260446
411      14.450682          0.312647     0.140553        2.601613   0.012052
..             ...               ...          ...             ...        ...
408      13.959202          1.212173     0.988036        4.829930   0.197248
332       4.158328          0.534064     0.603795        3.397620   0.225529
208       4.055677          0.619891     0.292218        8.784212   0.052156
613       4.899349          0.716234     0.740904       15.954645   0.063417
78        7.943123          0.514682     0.984990        3.096572   0.386605

     free_sulfur_dioxide  total_sulfur_dioxide   density        pH  sulphates  \
521            58.157987             50.241648  1.015407  3.136584   1.298709
737            27.344035             10.727755  0.994606  2.619974   0.233040
740            89.206415             42.506334  1.022263  3.399045   0.216821
660            19.226031            118.733925  0.982685  3.150586   1.208435
411            28.073977             76.923885  1.011268  3.970972   1.407754
..                   ...                   ...       ...       ...        ...
408            32.778708            107.296830  0.992300  3.264585   0.557891
332             9.609735            112.237986  1.045953  3.704613   0.994162
208            87.083834             86.429479  1.006822  2.958120   1.625432
613            25.220850             16.904742  1.007803  2.659138   0.387869
78             48.866310            114.825351  1.018970  3.054607   1.500701

       alcohol
521  12.752321
737  11.404864
740   9.157806
660  11.293536
411  13.496420
..         ...
408  12.271250
332   8.623022
208   8.199202
613  10.437922
78    8.397884

[200 rows x 11 columns]

In [20]:
print("shape of x ",x.shape)
print("shape of x_train",x_train.shape)
print("shape of x_test",x_test.shape)

shape of x  (1000, 11)
shape of x_train (800, 11)
shape of x_test (200, 11)

In [21]:
print("y data",y)
print("y_train data",y_train)
print("y_test data",y_test)

y data 0      3
1      9
2      1
3      3
4      7
      ..
995    3
996    4
997    4
998    7
999    8
Name: quality, Length: 1000, dtype: int64
y_train data 29     9
535    4
695    4
557    7
836    5
      ..
106    3
270    9
860    3
435    9
102    8
Name: quality, Length: 800, dtype: int64
y_test data 521    9
737    9
740    2
660    2
411    2
      ..
408    1
332    2
208    8
613    4
78     1
Name: quality, Length: 200, dtype: int64

In [22]:
print('shape of y',y.shape)
print("shape of y_train",y_train.shape)
print("shape of y_test ",y_test.shape)

shape of y (1000,)
shape of y_train (800,)
shape of y_test  (200,)

In [25]:
#now create a model and predict it
model=LogisticRegression(max_iter=10000)
model.fit(x_train,y_train)

LogisticRegression(max_iter=10000)

In [27]:
y_pred=model.predict(x_test)

In [28]:
mse=accuracy_score(y_test,y_pred)
print("the accuracy score is",mse)

the accuracy score is 0.15